.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.imagen {
  width: 100%;
  
}

.Footer {
  margin-top: 190px;
  text-align: center;
  background-color: #343a40;
  color: white;
}

.Table {
  text-align: center;
}

.botonCalcular {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.linkVer {
  color: #008cff;
  text-decoration: underline #00b7ff;
}

.Acordion {
  margin-top: 50px;
}